/* .bgcolor {
  
} */
.bgcolor .card {
  background-color: #eeeeee !important;
  border-radius: 10px !important;
}

.warnaabu td {
  color: #b1b1b1;
}

.bgtotal td {
  background-color: #e6e6e6;
}
.p-3 p {
  color: red;
  font-size: large;
}
.keretabg {
  background-color: #d0d0d0;
}

.bgtable {
  background-color: #f5f5f5;
}
.tengah {
  text-align: center;
}
.garisilang tr th td {
  border: none;
}
