.colorBrand {
  color: white;
}

.background {background: #C02425;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fluid {
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}

.imgsize {
  height: 110%;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
